:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-001: #EEEEEE;
  --gray-002: #C2C2C2;
  --gray-003: #9E9E9E;
  --gray-004: #787878;
  --gray-005: #595959;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: var(--background);
  width: 100%;
  margin: 20px auto;
  padding-left: 10px;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body_wrap {
  padding: 40px;
}

footer {
  padding: 30px;
  background-color: var(--gray-001);
}

footer a {
  font-size: 11px;
  color: var(--gray-003);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 20px;
  }

  footer a {
    font-size: 9px;
  }
}